In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import timeit
df = pd.read_csv('exam_result')
df.head()

           a          b  c
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [22]:
df.columns = ['c1', 'c2','res']
df.head()

          c1         c2  res
0  34.623660  78.024693    0
1  30.286711  43.894998    0
2  35.847409  72.902198    0
3  60.182599  86.308552    1
4  79.032736  75.344376    1

In [23]:
df.shape

(100, 3)

In [24]:
df.describe(include='all')

               c1          c2         res
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
c1     100 non-null float64
c2     100 non-null float64
res    100 non-null int64
dtypes: float64(2), int64(1)
memory usage: 2.4 KB

In [26]:
df.corr()

           c1        c2       res
c1   1.000000 -0.023665  0.574057
c2  -0.023665  1.000000  0.512323
res  0.574057  0.512323  1.000000

In [27]:
x = df[['c1','c2']] 
x = (x-x.mean())/x.std()
y = df['res']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
x = X_train
y = y_train

In [28]:
#Normalisation
print("x.shape: " + str(x.shape))
print("y.shape: " + str(y.shape))
m = x.shape[0]
n = x.shape[1]
print("m: " + str(m))
print("n: " + str(n))
t = np.ones((m,1))
x = np.hstack((t,x))
print("x.shape after appending a column for bias: " + str(x.shape))

x.shape: (70, 2)
y.shape: (70,)
m: 70
n: 2
x.shape after appending a column for bias: (70, 3)

In [29]:
w = np.random.randn(n+1,1)
w,w.shape

(array([[ 0.96705979],
        [-1.04293146],
        [ 0.13858353]]), (3, 1))

In [30]:
y = np.array(y)
y = np.reshape(y,(y.shape[0],1))

In [11]:
print("x.shape: " + str(x.shape))
print("y.shape: " + str(y.shape))
m = x.shape[0]
n = x.shape[1]
print("m: " + str(m))
print("n: " + str(n))

t = np.ones((m,1))
x = np.hstack((t,x))
print("x.shape after appending a column for bias: " + str(x.shape))

x.shape: (546, 2)
y.shape: (546,)
m: 546
n: 2
x.shape after appending a column for bias: (546, 3)

In [12]:
w = np.random.randn(n+1,1)
w,w.shape

(array([[-0.21961192],
        [-0.02938173],
        [ 0.47522018]]), (3, 1))

In [13]:
y = np.array(y)
y = np.reshape(y,(y.shape[0],1))